body{
    background-color: #1E3163;
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(177, 179, 203, 0.588);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
    width: fit-content;
}

h1{
    color: #F037A5;
    font-size: 80px;
    margin: 5px;
}

p{
    margin-top: 0;
    color: #F8F8F8;
}

li{
   color: #F037A5; 
}

a{
    color: #F8F8F8;
    text-decoration: none;
    font-size: 25px;
}

a:hover{
    text-decoration: underline;
}